body {
	background-color: #99FF88;
}



#container {
	text-align:center;
	border-style: ridge;
	width: 760px;
	margin: 125px;
	background-color: #EEEEEE;
}

#deck_title {
	color: yellow;
	text-align: left; 
	padding-left: 25px;
	font-family: Tahoma, Helvetica;
	font-size: 0.75em;
	background-color: #FF9966;
}

#flipbox {	
	color: black;
	background-color: #CCFFCC;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-family: Tahoma, Helvetica;
	font-size: 1.5em;
	border-style: solid;
	border-color: #FF9933;
}

#previous,#flipit,#next {
	text-decoration: none;
}

footer {
	text-align: right;
	margin-right: 25px;
}

#social {
	margin: 0;
}

#copyright {
	font-size: small;
	margin: 0; 
}
